:root {
    // LIGHT THEME COLORS
    --action-color: #1DA1F2;
    --action-color-hover: #000;
    --button-color: rgba(0, 0, 0, 0.07);
    --button-color-hover: #2F80ED;
    --background-color: #F0EEEC;
    --background-container: #fff;
    --shadow-container: rgba(155, 96, 0, 0.15);
    --background-container-header: rgba(240, 236, 232, 0.7);
    --background-container-footer: rgba(240, 236, 232, 0.7);
    --text-color-primary: rgba(0, 0, 0, 0.8);
    --text-color-secondary: rgba(0, 0, 0, 0.5);
    --text-color-tertiary: rgba(0, 0, 0, 0.45);
}

@media (prefers-color-scheme: dark) {
    :root {
        // DARK THEME COLORS
        --action-color: #438CEE;
        --action-color-hover: white;
        --button-color: rgba(0, 0, 0,0.15);
        --button-color-hover: #438CEE;
        --background-color: #121111;
        --background-container: rgb(44, 43, 43);
        --shadow-container: rgba(0, 0, 0,0.15);
        --background-container-header: transparent;
        --background-container-footer: rgba(0, 0, 0, 0.1);
        --text-color-primary: rgba(255, 255, 255, 0.8);
        --text-color-secondary: rgba(255, 255, 255, 0.5);
        --text-color-tertiary: rgba(255, 255, 255, 0.25);
    }
}

