html, body {
    margin: 0;
    padding: 0;
    background-color: #F0EEEC;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

#app {
    background-color: #F0EEEC;
}

::selection,
::-moz-selection {
    background: #d18d1f;
    color: white;
}

p {
    margin: 0 0;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    transition: inherit;
}

a:hover {
    color: inherit;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F0F0F0;
    border-radius: 6.25rem;
    color: #2F80ED;
    height: 2.5rem;
    padding: 0 1.25rem;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    justify-content: center;
    font-weight: bold;
    transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover {
        background-color: #2F80ED;
        color: #fff;

        > img {
            filter: brightness(200);
        }
    }
}

.grad-container__content img {
    max-width: 100%;
}