@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro|Material+Icons');

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #F0EEEC;
    font-family: 'Source Sans Pro', sans-serif;
}

::selection,
::-moz-selection {
    background: #d18d1f;
    color: white;
}

p {
    margin: 0 0;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F0F0F0;
    border-radius: 100px;
    color: #2F80ED;
    height: 40px;
    padding: 0px 20px;
    border-style: none;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #EDEDED;
}

.grad-container__content img {
    max-width: 100%;
}